.tables-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.table-wrapper {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

.main-table td, .codigo-sap-table td, .quantity-table td {
    text-align: center;
}


/* Navigation bar styles */
.navbar {
    background-color: #333; /* Dark background color */
    overflow: hidden; /* Clear floats */
    position: fixed; /* Make it stick at the top */
    top: 0; /* Position at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Sit on top of other content */
  }
  
  /* Navigation links */
  .navbar a {
    float: left; /* Position the links to the left */
    display: block; /* Change from inline to block */
    color: #f2f2f2; /* White color for links */
    text-align: center; /* Center text */
    padding: 14px 16px; /* Some padding */
    text-decoration: none; /* No underline */
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd; /* Light grey background on hover */
    color: black; /* Black text on hover */
  }
  
  /* Add padding to body to make space for fixed navbar */
  body {
    padding-top: 50px; /* Equal to the height of the navbar */
  }