<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Orden de Salida {{ order['IdOrdenSalida'] }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/WOStyle.css">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('work_orders', company=company) }}">Ordenes de Trabajo</a>
        <a href="{{ url_for('vehicles_list', company=company) }}">Vehículos</a>
        <a href="{{ url_for('mechanic_work_hours_summary', company=company) }}">Resumen de Mecanicos</a>
        <a href="{{ url_for('supply_status_update', company=company) }}">Pedidos</a>
        <a href="{{ url_for('active_departure_orders', company=company) }}">Ordenes de Salida</a>
        <a href="/">Inicio</a>
    </div>

    <div class="work-order-detail">
        <h1>Detalle de Orden de Salida {{ order['IdOrdenSalida'] }}</h1>

        <div class="info-row">
            <div class="info-box">
                <p>ID de Orden: {{ order[0] }}</p>
                <p>Vehículo: {{ order[2] }}</p>
                <p>Operador: {{ order[4] }}</p>
                <p>Cliente: {{ order[12] }}</p>
                <p>Ubicación: {{ order[7] }}</p>
                <p>Orden de SAP: {{ order[11] }}</p>
            </div>
        </div>

        <div class="info-row">
            <div class="info-box">
                <p>Horómetro de Salida: {{ order[8] }}</p>
                <p>Horómetro de Regreso: {{ order[9] }}</p>
            </div>
        </div>

        <div class="info-row">
            <div class="info-box">
                <p>Hora Creado: {{ order[5] }}</p>
                <p>Hora Regresado: {{ order[10] }}</p>
                <p>Comentarios: {{ order[6] }}</p>
            </div>
        </div>

    </div>
    <p></p><p></p>
    <button class="btn-quality-check" onclick="window.location.href='{{ url_for('operator_quality_check', order_id=order_id) }}'">Checklist de Operadores</button>
    <p></p><p></p>
    <a href="{{ url_for('departure_orders_record', company=company) }}" class="btn btn-primary">Volver al registro de órdenes de salida</a>
</body>
</html>
