<!DOCTYPE html>
<html>
<head>
    <title>Registro de Órdenes de Salida</title>
    <link rel="stylesheet" type="text/css" href="/static/css/WOStyle.css">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('work_orders', company=company) }}">Ordenes de Trabajo</a>
        <a href="{{ url_for('vehicles_list', company=company) }}">Vehículos</a>
        <a href="/mechanic_work_hours_summary">Resumen de Mecanicos</a>
        <a href="{{ url_for('supply_status_update', company=company) }}">Pedidos</a>
        <a href="{{ url_for('active_departure_orders', company=company) }}">Ordenes de Salida</a>

        <a href="/">Inicio</a>
        <!-- Add more links as needed -->
      </div>
    <h1>Registro de Órdenes de Salida</h1>

    <div class="top-section">
        <form action="{{ url_for('departure_orders_record',company=company) }}" method="get" class="search-form">
            <div>
                <label for="order_id">ID de Orden:</label>
                <select id="order_id" name="order_id" class="select-field">
                    <option value="">Seleccionar ID de Orden</option>
                    {% for id in order_ids %}
                        <option value="{{ id[0] }}">{{ id[0] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="vehicle_name">Vehículo:</label>
                <select id="vehicle_name" name="vehicle_name" class="select-field">
                    <option value="">Todos los vehículos</option>
                    {% for name in vehicle_names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="operator_name">Operador:</label>
                <select id="operator_name" name="operator_name" class="select-field">
                    <option value="">Todos los operadores</option>
                    {% for name in operator_names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="start_date">Desde:</label>
                <input type="date" id="start_date" name="start_date" class="date-field">

                <label for="end_date">Hasta:</label>
                <input type="date" id="end_date" name="end_date" class="date-field">
            </div>
            <div>
            <input type="submit" value="Buscar" class="search-button">
            </div>
        </form>
    </div>

    <div class="order-container">
        {% for order in departure_orders %}
            <a href="{{ url_for('departure_order_record_detail', order_id=order[0],company=company) }}" class="work-order-link">
                <div class="work-order-container">
                    <p>ID de Orden: {{ order[0] }}</p>
                    <p>Nombre del Vehículo: {{ order[2] }}</p>
                    <p>Nombre del Operador: {{ order[4] }}</p>
                    <p>Ubicación: {{ order[7] }}</p>
                    <p>Comentarios: {{ order[6] }}</p>
                    <!-- Más detalles según sea necesario -->
                </div>
            </a>
        {% else %}
            <p>No se encontraron registros de órdenes de salida.</p>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select-field').select2();
        });
    </script>
</body>
</html>
