<!DOCTYPE html>
<html>
<head>
    <title>Detalle de Orden de Salida</title>
    <link rel="stylesheet" type="text/css" href="/static/css/WOStyle.css">
</head>
<body>
    <h1>Detalle de Orden de Salida</h1>

    <div class="work-order-detail">

        <h2>ID de Orden de Salida: {{ order['IdOrdenSalida'] }}</h2>
        <div class="info-row">
            <div class="info-box">
                <p>Nombre del Vehículo: {{ order['VehicleName'] }}</p>
            </div>
            <div class="info-box">
                <p>Nombre del Operador: {{ order['NombreOperador'] }}</p>
            </div>
            <div class="info-box">
                <p>Ubicación: {{ order['Ubicacion'] }}</p>
            </div>
        </div>

        <div class="info-row">
            <div class="info-box">
                <p>Horómetro de Salida: {{ order['HorometroSalida'] }}</p>
            </div>
            <div class="info-box">
                <p>Hora Creado: {{ order['HoraCreado'] }}</p>
            </div>
            <div class="info-box">
                <p>Comentarios: {{ order['Comentarios'] }}</p>
            </div>
        </div>

        <div class="info-row">
            <div class="info-box">
                <p>Horómetro de Regreso: {{ order['HorometroRegreso'] }}</p>
            </div>
        </div>

        <form method="post" action="{{ url_for('update_departure_order', company=company, order_id=order['IdOrdenSalida']) }}">
            <input type="hidden" name="company" value="{{ company }}">
        
            <!-- Campos para editar horómetros y comentarios -->
            <label for="horometroSalida">Horómetro de Salida:</label>
            <input type="text" id="horometroSalida" name="horometroSalida" value="{{ order['HorometroSalida'] }}"><br><br>
            
            <label for="horometroRegreso">Horómetro de Regreso:</label>
            <input type="text" id="horometroRegreso" name="horometroRegreso" value="{{ order['HorometroRegreso'] }}"><br><br>
        
            <label for="comentarios">Comentarios:</label>
            <textarea id="comentarios" name="comentarios">{{ order['Comentarios'] }}</textarea><br><br>
        
            <input type="submit" value="Guardar Cambios"><p></p><p></p>
        </form>
        

        <form method="post" action="{{ url_for('complete_departure_order', order_id=order['IdOrdenSalida'], company=company) }}">
            <input type="hidden" name="company" value="{{ company }}">
            <input type="submit" value="Completar Orden de Salida" class="btn-complete">
        </form>
        
    </div>

    <hr>

    <a href="{{ url_for('active_departure_orders',company=company) }}">Volver a Órdenes de Salida Activas</a>
</body>
</html>
