<!DOCTYPE html>
<html>
<head>
    <title>Mechanic Work Hours Summary</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/WHS.css') }}">


</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('work_orders', company=company) }}">Ordenes de Trabajo</a>
        <a href="{{ url_for('vehicles_list', company=company) }}">Vehículos</a>
        <a href="{{url_for('mechanic_work_hours_summary',company=company) }}">Resumen de Mecanicos</a>
        <a href="{{ url_for('supply_status_update', company=company) }}">Pedidos</a>
        <a href="{{ url_for('active_departure_orders', company=company) }}">Ordenes de Salida</a>
        <a href="/">Inicio</a>
        <!-- Add more links as needed -->
      </div>
      
    <h1>Resumen de Horas de Mecanicos</h1>

    <!-- Date filter form -->
    <form action="{{ url_for('mechanic_work_hours_summary',company=company) }}" method="get">
        <label for="filter_date">Fecha:</label>
        <input type="date" name="filter_date" id="filter_date" value="{{ filter_date }}" onchange="this.form.submit()">
    </form>

    <h2>Hoy</h2>
    {% if daily_summary %}
        <table>
            <tr>
                <th>Mecanico</th>
                <th>Fecha</th>
                <th>Horas Totales</th>
            </tr>
            {% for entry in daily_summary %}
            <tr>
                <td>{{ entry['MechanicName'] }}</td>
                <td>{{ entry['Date'] }}</td>
                <td>{{ entry['TotalHours'] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No hay Horas Registradas.</p>
    {% endif %}

    <h2>Esta Semana</h2>
    {% if weekly_summary %}
        <table>
            <tr>
                <th>Mecanico</th>
                <th>Semana</th>
                <th>Horas Totales</th>
            </tr>
            {% for entry in weekly_summary %}
            <tr>
                <td>{{ entry['MechanicName'] }}</td>
                <td>{{ entry['WeekStartDate'] }}</td>
                <td>{{ entry['TotalHours'] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No hay horas registradas</p>
    {% endif %}

    <h2>Este Mes</h2>
    {% if monthly_summary %}
        <table>
            <tr>
                <th>Mecanico</th>
                <th>Mes</th>
                <th>Horas Totales</th>
            </tr>
            {% for entry in monthly_summary %}
            <tr>
                <td>{{ entry['MechanicName'] }}</td>
                <td>{{ entry['WeekStartDate'] }}</td>
                <td>{{ entry['TotalHours'] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No hay horas este mes.</p>
    {% endif %}

</body>
</html>
