<!DOCTYPE html>
<html>
<head>
    <title>Work Order Detail</title>
    <link rel="stylesheet" type="text/css" href="/static/css/WOStyle.css">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('work_orders', company=company) }}">Ordenes de Trabajo</a>
        <a href="{{ url_for('vehicles_list', company=company) }}">Vehículos</a>
        <a href="{{ url_for('mechanic_work_hours_summary', company=company) }}">Resumen de Mecanicos</a>
        <a href="{{ url_for('supply_status_update', company=company) }}">Pedidos</a>
        <a href="{{ url_for('active_departure_orders', company=company) }}">Ordenes de Salida</a>
        <a href="/">Inicio</a>
    </div>



    <button class="return-button" onclick="window.location.href='{{ url_for('work_orders', company=company) }}'">Regresar a Ordenes de Trabajo Activas</button>

    <h1>Detalle de Orden de Trabajo {{ order['order_id'] }} </h1>

    <div class="work-order-detail">

        <div class="info-row">

            <div class="info-box">
                <p>Nombre Vehiculo: {{ order['vehicle_name'] }}</p>
            </div>
            <div class="info-box">
                <p>Horómetro: {{ order['horometro'] }}</p>
            </div>
            <div class="info-box">
                <p>Tipo de Trabajo: {% if order['work_type'] == 'Repair' %}Reparo por Defecto{% elif order['work_type'] == 'Maintenance' %}Mantenimiento Preventivo{% else %}{{ order['work_type'] }}{% endif %}</p>
            </div>
            <div class="info-box">
                <p>Esperando desde: {% if order['currently_waiting'] %}{{ order['wait_time_start'] }}{% else %}No hay espera{% endif %}</p>
            </div>
        </div>

        <div class="info-row">
            <div class="info-box">
                <p>Lugar: {{ order['Lugar'] }}</p>
            </div>
            <div class="info-box">
                <p>Dueño: {{ order['Dueno'] }}</p>
            </div>
            <div class="info-box">
                <p>Marca: {{ order['Marca'] }}</p>
            </div>
            <div class="info-box">
            <p>Fecha de Creación: {{ order['created_time'] }}</p>
            </div>
            <a href="{{ url_for('download_active_order', order_id=order.order_id) }}" class="btn btn-primary">Descargar Orden</a>

        </div>

        <form method="post" action="{{ url_for('update_work_order', order_id=order['order_id']) }}">
            <p>Descripcion:</p>
            <textarea name="descripcion">{{ order['description'] }}</textarea>
            <p>Diagnostico:</p>
            <textarea name="diagnostico">{{ order['diagnostico'] }}</textarea>
            <p>Trabajo Realizado:</p>
            <textarea name="trabajoRealizado">{{ order['trabajoRealizado'] }}</textarea>
            <input type="submit" value="Apretar para Guardar Cambios" class="btn-complete"><p></p><p></p>
        </form>

        <div class="split-container">
            <form method="post" action="{{ url_for('assign_mechanic', order_id=order['order_id']) }}">
                <input type="hidden" name="order_id" value="{{ order['order_id'] }}">
                <input type="hidden" name="company" value="{{ company }}">
                <select name="mechanic_id" required>
                    <option value="">Seleccionar Mecanico</option>
                    {% for mechanic in all_mechanics %}
                        <option value="{{ mechanic[0] }}">{{ mechanic[1] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Asignar Mecanico">
            </form>
        
            <div class="list-container">    
                <ul class="assigned-list">
                    {% for mechanic in mechanics %}
                    <li>
                        {{ mechanic[1] }} (ID: {{ mechanic[0] }})
                        <form method="post" action="{{ url_for('unassign_mechanic', order_id=order['order_id'], mechanic_id=mechanic[0]) }}">
                            <input type="hidden" name="order_id" value="{{ order['order_id'] }}">
                            <input type="hidden" name="mechanic_id" value="{{ mechanic[0] }}">
                            <input type="hidden" name="company" value="{{ company }}">
                            <input type="submit" value="Desasignar">
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        

        <!-- Form de asignación de insumos -->
        <form method="post" action="{{ url_for('assign_supply', order_id=order['order_id']) }}">
            <div class="dropdown">

                <br>
                <input type="text" placeholder="Buscar por Código o Descripción..." id="myInput" onkeyup="filterFunction()">
                <select id="supply-dropdown" name="supply_code">
                    <option value="">Seleccione un Insumo</option>
                    <!-- Inicializar con insumos previamente asignados -->
                    {% for supply in previously_assigned_supplies %}
                    <option value="{{ supply[0] }}">{{ supply[0] }} - {{ supply[1] }}</option>
                    {% endfor %}
                </select>
                <input type="number" name="quantity" min="1" placeholder="Cantidad" required>
                <button type="submit">Asignar Insumo</button>
            </div>

            <script>
                var supplies = [
                    {% for supply in available_supplies %}
                    { code: "{{ supply[0] }}", description: "{{ supply[1] }}" },
                    {% endfor %}
                ];

                function filterFunction() {
                    var input, filter, select, option, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    select = document.getElementById("supply-dropdown");
                    select.innerHTML = '<option value="">Seleccione un Insumo</option>'; // Limpiar el select antes de agregar opciones filtradas

                    for (i = 0; i < supplies.length; i++) {
                        txtValue = supplies[i].code + " - " + supplies[i].description;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            option = new Option(txtValue, supplies[i].code);
                            select.options.add(option);
                        }
                    }
                }

                document.addEventListener('DOMContentLoaded', function() {
                    var errorMessage = "{{ error_message }}";
                    if (errorMessage) {
                        alert(errorMessage);
                    }

                    // Añadir evento al dropdown de insumos asignados anteriormente
                    var previousSupplyDropdown = document.getElementById("previous-supply-dropdown");
                    previousSupplyDropdown.addEventListener("change", function() {
                        var selectedOption = previousSupplyDropdown.options[previousSupplyDropdown.selectedIndex];
                        if (selectedOption.value) {
                            var supplyDropdown = document.getElementById("supply-dropdown");
                            supplyDropdown.innerHTML = '<option value="">Seleccione un Insumo</option>'; // Limpiar el select antes de agregar la opción seleccionada

                            var newOption = new Option(selectedOption.text, selectedOption.value);
                            supplyDropdown.options.add(newOption);
                        }
                    });
                });
            </script>
        </form>
        

        <div class="list-container">
            <ul class="assigned-list">
                {% for supply in assigned_supplies %}
                <li>
                    {{ supply[0] }} - {{ supply[1] }} - Cantidad: {{ supply[2] }}, Estado: {{ supply[3] }}
                    {% if supply[3] != 'Recibido' %}
                    <form method="post" action="{{ url_for('unassign_supply', order_id=order['order_id'], supply_code=supply[0]) }}" style="display: inline;">
                        <input type="submit" value="Desasignar">
                    </form>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        {% if order['currently_waiting'] %}
        <!-- Si currently_waiting es True, muestra el botón para detener la espera -->
        <form method="post" action="{{ url_for('stop_supply_wait', order_id=order['order_id']) }}">
            <input type="submit" value="Detener Espera de Suministro" class="btn-stop-wait">
        </form><p></p>
        {% else %}
        <!-- Si currently_waiting es False, muestra el botón para iniciar la espera -->
        <form method="post" action="{{ url_for('start_supply_wait', order_id=order['order_id']) }}">
            <input type="submit" value="Iniciar Espera de Suministro" class="btn-start-wait">
        </form><p></p>
        {% endif %}
    
        <div class="quality-check-buttons">
            <form action="{{ url_for('mechanic_quality_check', order_id=order['order_id']) }}" method="get">
                <button type="submit" class="btn-quality-check">Checklist de Mecanicos</button>
            </form>

            <form action="{{ url_for('logistics_quality_check', order_id=order['order_id']) }}" method="get">
                <button type="submit" class="btn-quality-check">Checklist de Logistica</button>
            </form>
        </div>

        <div class="update-horometro">
            <form method="post" action="{{ url_for('update_horometros') }}" class="horometro-update-form">
                <input type="hidden" name="vehicle_id" value="{{ order['vehicle_id'] }}">
                <input type="hidden" name="company" value="{{ company }}">
                <input type="hidden" name="vehicle_name" value="{{ order['vehicle_name'] }}">
                <input type="hidden" name="order_id" value="{{ order['order_id'] }}">
                <input type="number" name="new_horometro" placeholder="Introducir nuevo horómetro">
                <input type="submit" value="Actualizar Horómetro">
            </form>
        </div>

        <div class="complete-work-order">
            <form method="post" action="{{ url_for('complete_work_order', order_id=order['order_id']) }}">
                <input type="hidden" name="order_id" value="{{ order['order_id'] }}">
                <input type="submit" value="Completar Orden de Trabajo" class="btn-complete">
            </form>
        </div>
    </div>
    <hr>
    
    <button class="return-button" onclick="window.location.href='{{ url_for('work_orders', company=company) }}'">Regresar a Ordenes de Trabajo Activas</button>
    <script>
        document.querySelector('.horometro-update-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var horometroActual = parseFloat("{{ order['horometro'] }}");
            var newHorometro = parseFloat(this.querySelector('input[name="new_horometro"]').value);
    
            if (isNaN(newHorometro) || newHorometro <= 0) {
                alert("Por favor, introduzca un horómetro válido.");
            } else if (newHorometro < horometroActual) {
                alert("El nuevo horómetro no puede ser menor que el valor actual.");
            } else {
                this.submit();
            }
        });
    </script>
</body>
</html>

