<!DOCTYPE html>
<html>
<head>
    <title>Detalle de Orden de Trabajo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/WOStyle.css">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('work_orders', company=company) }}">Órdenes de Trabajo</a>
        <a href="{{ url_for('vehicles_list', company=company) }}">Vehículos</a>
        <a href="{{ url_for('mechanic_work_hours_summary', company=company) }}">Resumen de Mecánicos</a>
        <a href="{{ url_for('supply_status_update', company=company) }}">Pedidos</a>
        <a href="{{ url_for('active_departure_orders', company=company) }}">Órdenes de Salida</a>
        <a href="/">Inicio</a>
    </div>

    <a href="{{ url_for('work_orders_record', company=company) }}" class="return-button">Regresar a Órdenes de Trabajo Completadas</a>
    <h1>Detalle de Orden de Trabajo {{ order['order_id'] }} </h1>

    <div class="work-order-detail">
        <div class="info-row">
            <div class="info-box">
                <p>ID Vehiculo: {{ order['vehicle_id'] }}</p>
            </div>
            <div class="info-box">
                <p>Nombre Vehiculo: {{ order['vehicle_name'] }}</p>
            </div>
            <div class="info-box">
                <p>Tipo de Trabajo: {% if order['work_type'] == 'Repair' %}Reparo por Defecto{% elif order['work_type'] == 'Maintenance' %}Mantenimiento Preventivo{% else %}{{ order['work_type'] }}{% endif %}</p>
            </div>
            <div class="info-box">
                <p>Lugar: {{ order['Lugar'] }}</p>
            </div>
        </div>

        <div class="info-row">

            <div class="info-box">
                <p>Dueño: {{ order['Dueno'] }}</p>
            </div>
            <div class="info-box">
                <p>Marca: {{ order['Marca'] }}</p>
            </div>
            <div class="info-box">
                <p>Fecha de Creación: {{ order['start_date'] }}</p>
            </div>
            <div class="info-box">
                <p>Fecha de Finalización: {{ order['end_date'] }}</p>
            </div>
            <a href="{{ url_for('download_record_order', company=company, order_id=order.order_id) }}" class="btn btn-primary">Descargar Orden</a>

        </div>

        <p>Descripcion:</p>
        <textarea readonly>{{ order['description'] }}</textarea>

        <p>Diagnostico:</p>
        <textarea readonly>{{ order['diagnostico'] }}</textarea>
        <p>Trabajo Realizado:</p>
        <textarea readonly>{{ order['trabajorealizado'] }}</textarea>

        <h2>Detalles de Mecánicos</h2>
        <div class="info-row">
            {% for mechanic in mechanics %}
            <div class="info-box">
                <p>{{ mechanic['name'] }}: {{ mechanic['time'] }}</p>
            </div>
            {% endfor %}
        </div>

        <h2>Insumos Recibidos</h2>
        <div class="info-row">
            {% for supply in supplies %}
            <div class="info-box">
                <p>{{ supply['description'] }} - Cantidad: {{ supply['quantity'] }} - Fecha de Recepción: {{ supply['received_date'] }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="quality-check-buttons">
            <form action="{{ url_for('mechanic_quality_check_record', order_id=order['order_id'], company=company) }}" method="get">
                <button type="submit" class="btn-quality-check">Checklist de Mecanicos</button>
            </form>
        
            <form action="{{ url_for('logistics_quality_check_record', order_id=order['order_id'], company=company) }}" method="get">
                <button type="submit" class="btn-quality-check">Checklist de Logistica</button>
            </form>
        </div>
        
        
    </div>
    <hr>
    <a href="{{ url_for('work_orders_record', company=company) }}" class="return-button">Regresar a Órdenes de Trabajo Completadas</a>
</body>
</html>
